
#include <windows.h>

#include "rescodes.hpp"

APPICON ICON "../design/icon_gui.ico"

MAINMENU MENU{
	
	POPUP "&File"{
 	
		MENUITEM "&Save log", CM_FILE_SVLOG
		MENUITEM SEPARATOR
		MENUITEM "&Exit", CM_FILE_EXIT
	}

	POPUP "&Help"{
		
		MENUITEM "&About", CM_ABOUT
	}
}

1 VERSIONINFO
FILEVERSION 4,0,0
PRODUCTVERSION 4,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "maddsua"
      VALUE "FileVersion", "4.0.0"
      VALUE "FileDescription", "Serial Terminal (COM monitor)"
      VALUE "InternalName", "SerialTerminalGraphical"
      VALUE "LegalCopyright", "https://gitlab.com/maddsua"
      VALUE "LegalTrademarks", "2023 maddsua/dev"
      VALUE "OriginalFilename", "serterg"
      VALUE "ProductName", "Serial Terminal"
      VALUE "ProductVersion", "4.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1252
  }
}
