
#include <windows.h>

#include "rescodes.hpp"

APPICON				ICON	"../design/icon_gui.ico"
ICON_BUTTON_SEND	BITMAP	"res/button-send.bmp"

MAINMENU MENU {
	
	POPUP "&File"{
		MENUITEM "&Save log", MENUITEM_FILE_SVLOG
		MENUITEM SEPARATOR
		MENUITEM "&Exit", MENUITEM_FILE_EXIT
	}

	POPUP "&Terminal"{
		POPUP "&Hex style" {
			MENUITEM "&Short (07 FA)", SUBMENU_HEXSTYLE_SHORT
			MENUITEM "&Full (0x07 0xFA)", SUBMENU_HEXSTYLE_FULL
		}

		MENUITEM "&Special characters support", MENUITEM_SPECCHARS

		MENUITEM SEPARATOR

		MENUITEM "&Clear Terminal", MENUITEM_CLEAR
	}

	POPUP "&Help"{
		MENUITEM "&About", MENUITEM_ABOUT
	}
}

1 VERSIONINFO
FILEVERSION 4,0,0
PRODUCTVERSION 4,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "maddsua"
      VALUE "FileVersion", "4.0.0"
      VALUE "FileDescription", "Serial Terminal (COM monitor)"
      VALUE "InternalName", "SerialTerminalGraphical"
      VALUE "LegalCopyright", "https://github.com/maddsua"
      VALUE "LegalTrademarks", "2023 maddsua/dev"
      VALUE "OriginalFilename", "serterg"
      VALUE "ProductName", "Serial Terminal"
      VALUE "ProductVersion", "4.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1252
  }
}
