
#include <windows.h>

#include "rescodes.hpp"

APPICON				ICON	"../design/icon_gui.ico"
ICON_BUTTON_SEND	BITMAP	"res/button-send.bmp"

MAINMENU MENU{
	
	POPUP "&File"{
		MENUITEM "&Save log", CONTEXT_FILE_SVLOG
		MENUITEM SEPARATOR
		MENUITEM "&Exit", CONTEXT_FILE_EXIT
	}

	POPUP "&Terminal"{
		MENUITEM "&Clear", CONTEXT_CLEAR
	}

	POPUP "&Help"{
		MENUITEM "&About", CONTEXT_ABOUT
	}
}

1 VERSIONINFO
FILEVERSION 4,0,0
PRODUCTVERSION 4,0,0
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904E4"
    {
      VALUE "CompanyName", "maddsua"
      VALUE "FileVersion", "4.0.0"
      VALUE "FileDescription", "Serial Terminal (COM monitor)"
      VALUE "InternalName", "SerialTerminalGraphical"
      VALUE "LegalCopyright", "https://gitlab.com/maddsua"
      VALUE "LegalTrademarks", "2023 maddsua/dev"
      VALUE "OriginalFilename", "serterg"
      VALUE "ProductName", "Serial Terminal"
      VALUE "ProductVersion", "4.0.0"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x0409, 1252
  }
}
