#include <windows.h>

1 VERSIONINFO
FILEVERSION 1,0,1
PRODUCTVERSION 1,0,1
FILETYPE VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "CompanyName", "maddsua/dev"
			VALUE "FileVersion", "1.0.1"
			VALUE "FileDescription", "A serial port communications library"
			VALUE "InternalName", "libserialapi"
			VALUE "LegalCopyright", "https://github.com/maddsua/serial"
			VALUE "LegalTrademarks", "2023 maddsua/dev"
			VALUE "OriginalFilename", "libserialapi"
			VALUE "ProductName", "libserialapi"
			VALUE "ProductVersion", "1.0.1"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}